    html {
        font-size: 17px;
        /* px means "pixels": the base font size is now 10 pixels high  */
        font-family: 'Libre Baskerville', serif;
        /* this should be the rest of the output you got from Google fonts */
        background-color: #b700ff50;
    }
    
    h1 {
        text-align: center;
        font-size: 45px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    p,
    li {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0px;
    }
    
    body {
        width: 600px;
        margin: 0 auto;
        background-color: #9100ca00;
        padding: 0px 158px 0px 0px;
    }
    
    img {
        display: block;
        margin: 0 auto;
    }
    
    .rainbow-letters {
        font-size: 40px;
        font-family: sans-serif;
        text-transform: uppercase;
    }
    
    .rainbow-letters span:nth-child(10n + 1) {
        color: #a200ff;
    }
    
    .rainbow-letters span:nth-child(10n + 2) {
        color: #00d9ff;
    }
    
    .rainbow-letters span:nth-child(10n + 3) {
        color: #ff00d4;
    }
    
    .rainbow-letters span:nth-child(10n + 5) {
        color: #33ff00;
    }
    
    .rainbow-letters span:nth-child(10n + 4) {
        color: #ff8800;
    }
    
    .rainbow-letters span:nth-child(10n + 6) {
        color: #8F00FF;
    }
    
    .rainbow-letters span:nth-child(10n + 7) {
        color: #FFFFFF;
    }
    
    .rainbow-letters span:nth-child(10n + 8) {
        color: #fbff07;
    }
    
    .rainbow-letters span:nth-child(10n + 9) {
        color: #000000;
    }
    
    .rainbow-letters span:nth-child(10n + 10) {
        color: #4B0082;
    }
    
    .picLeft {
        float: left;
        margin-left: 12em;
    }